@media (min-width: 1200px)
    .button
        font-size: 1.2rem
        &_size
            font-size: 1.5rem
        &_catalog
            font-size: 1.3rem

@media (max-width: 1025px)
    .button
        font-size: 1rem
        &_size
            font-size: 1.2rem
        &_catalog
            font-size: 1rem

@media (max-width: 768px)
    .button
        font-size: 0.9rem
        &_size
            font-size: 1.1rem
        &_catalog
            font-size: 1.1rem

@media (max-width: 426px)
    .button
        display: block !important
        margin: 0 auto
        margin-top: 0.6rem
        font-size: 0.8rem
        &_size
            margin-right: 0
            margin-left: auto
            font-size: 1.2rem
        &_catalog
            font-size: 1.2rem

@media (max-width: 321px)
    .button
        &_size
            font-size: 1rem
        &_catalog
            font-size: 1rem

.button
    background-color: $btn-color
    color: $text-color
    font-weight: 500
    border: 1.5px solid $btn-color
    transition: 1s all
    &:hover
        background-color: $text-color
        color: $btn-color
    &:focus
        box-shadow: none
