@media (min-width: 1200px)
    .header
        background: url('../images/bg-min.png') center center
        height: 698px

@media (max-width: 1025px)
    .header
        background: url('../images/bg_1520-min.jpg') center center no-repeat
        height: 553px

@media (max-width: 769px)
    .header
        background: url('../images/bg_1520-min.jpg') center center no-repeat
        height: 553px

@media (max-width: 426px)
    .header
        background: url('../images/bg_500-min.jpg') center center no-repeat
        height: 414px

@media (max-width: 376px)
    .header
        background: url('../images/bg_375-min.jpg') center center no-repeat
        height: 310px

@media (max-width: 321px)
    .header
        background: url('../images/bg_350-min.jpg') center center no-repeat
        height: 290px